# Environment variables template
# Copy this file to .env and update with your actual values

REACT_APP_ENV=prod-or-dev
GOOGLE_API_KEY=your-api-key-here
REACT_APP_PROXY_SECRET=your-proxy-secret-here # openssl rand -hex 32
BACKEND_PROXY_SECRET=your-backend-proxy-secret-here # openssl rand -hex 32
BACKEND_URL=https://your-backend-url-here # not required if only running backend locally